.body{
    font-family:Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    /* background-color:black; */
}
/* ============================ Nav ============================ */
.topnav {
    background-color: #005F81;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
  }
  .topnav .right{
      float:right;
      background-color: #153D85;
      /* color:blue; */

  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #005F81;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  /* ============================ Carousel ============================ */
#Carousel{
    padding-left:40px;
    padding-right:40px;
}
#Carousel .carousel-indicators li{
    width: 8px;
    height: 8px;
    border-radius: 100%;

}
#Carousel img {
    height:400px;
    width:auto;
}
@media screen and (max-width: 500px) {
    #Carousel .d-block{
        height:200px; 
        width:auto;
    }
}
@media screen and (min-width: 1300px) {
    #Carousel .d-block{
        padding-left:100px;
        padding-right:100px;
        height:570px; 
        width:auto;
    }
}

  /* ============================ Section 1 : stats ============================ */
#SECTION1{
    padding-top:20px;
    padding-bottom:40px;
    background-color:#E9FAF9;
    font-size:10px;
    color:#696969;
}
#SECTION1 .hr{
    border-color:#696969;
}
#SECTION1 .header{
    font-weight: 500;
    font-size:20px;
    padding-bottom: 40px;
}
#SECTION1 img{
    padding-bottom: 40px;
}
#SECTION1 .bot h{
    font-size: 50px;
    color: #bb6600;
    padding-bottom: 10px;
    font-weight: 700;
}
#SECTION1 .bot p{
    font-size: 14px;
    font-weight:500;
}

/* ============================ Section 2 : Testimonials ============================ */
#SECTION2{
    color:#696969;
}
#SECTION2 .header{
    font-weight: 500;
    font-size:20px;
    padding-bottom: 40px;
    padding-top: 40px;
}
#SECTION2 .person img{
    padding-bottom:12px;
}
#SECTION2 .person h{
    font-size:18px;
    font-weight:700;
}
#SECTION2 .person p{
    font-size:16px;
    font
}

/* ============================ Section 3 : Promoshit ============================ */

#SECTION3{
    background-color:#E9FAF9;
    color:#696969;
}

#SECTION3 .header{
    padding-top:40px;
    padding-bottom:40px;
}


#SECTION3 .header h{
    font-size: 32px;
    font-weight:450;
}

#SECTION3 img{
    height:35%;
    width:auto;
    padding-top:30px;
    padding-bottom:50px;
}

#SECTION3 .img h{
    font-size: 30px;
    font-weight:400;
}

#SECTION3 .img p{
    font-size:18px;
    font-weight:400;
}
#SECTION3 .img .col-md-4{
    margin-bottom:-250px;
}
@media screen and (max-width: 758px) {

    #SECTION3 .img .col-md-4{
        margin-bottom:-250px;
    }
    #SECTION3 .img img{
        padding-bottom:20px;
        padding-top:10px;
    }
}

/* ============================  END : done n shit i guess ============================ */
#END{
    background-color: #153D85;
    color:rgba(255, 255, 255, 0.836);
    padding-bottom:40px;
}
#END .head{
    padding-top:40px;
    font-size:40px;
}
#END .sponsors{
    padding-top:40px;
}
#END .contact{
    margin-top:-100px;
    font-size:20px;
}