.body{
    font-family:Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color:#696969;

}

/*======================== Section 1 : My Platform ========================*/

#SECTION1 .header{
    padding-top:30px;
    font-size:30px;
    font-weight:500;
    padding-bottom:10px;
    color:white;
}
#SECTION1{
    padding-bottom:120px;
    background-color: #005F81;

}
#SECTION1 .next button{
    margin:50px;
    background-color: #e9faf9;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
#SECTION1 .next h{
    font-size:30px;
}
#SECTION1 img{
    padding-top:20px;
}
/* #SECTION1 .next button:hover{
    background-color:#E7faf9;
    color:black;
} */
#SECTION1 .next button:active{
    background-color:#005F81;
    border-color:#E7faf9;
    color:white;
}
/*======================== Section 2 : Past Matchers ========================*/
#SECTION2{
    background-color: #e9faf9;
    color:#696969;
    padding-bottom:60px;
}
#SECTION2 .header{
    font-weight: 500;
    font-size:30px;
    padding-bottom: 40px;
    padding-top: 40px;
}
#SECTION2 .person img{
    padding-bottom:12px;
}
#SECTION2 .person h{
    font-size:18px;
    font-weight:700;
}
#SECTION2 .person p{
    font-size:16px;
    font
}
/*======================== Section 3 : Top Bids ========================*/

#SECTION3{
    color:#696969;
    padding-bottom:60px;
}
#SECTION3 .header{
    font-weight: 500;
    font-size:30px;
    padding-bottom: 40px;
    padding-top: 40px;
}
#SECTION3 .person img{
    padding-bottom:12px;
}
#SECTION3 .person h{
    font-size:18px;
    font-weight:700;
}
#SECTION3 .person p{
    font-size:16px;
    font
}
#SECTION3 button{
    margin-bottom:40px;
}