.body{
    font-family:Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color:#696969;

}

/*======================== Section 1 : Lists ========================*/

#SECTION1{
    background-color: #E9FAF9;
    padding-bottom:40px;
    font-weight:500;
}
#SECTION1 .lists button:hover{
    background-color:#005f81 !important;
    color:rgba(255, 255, 255, 0.836);
}
#SECTION1 .header{
    padding-top:30px;
    padding-bottom:10px;
    font-size:30px;    
}
#SECTION1 .lists h{
    font-size:18px;
    font-weight: 600;
}
#SECTION1 .lists p{
    text-align: right;
    margin-bottom: 0;
    font-size:12px;
}

/*======================== Section 2 : Learning Hub ========================*/
#SECTION2 .header{
    padding-top:30px;
    font-size:30px;
    font-weight:500;
    padding-bottom:10px;
}
#SECTION2{
    margin-bottom:80px;
}
#SECTION2 .next button{
    margin:50px;
    background-color: #005f81;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
#SECTION2 .next h{
    font-size:20px;
}
#SECTION2 img{
    padding-top:20px;
}
/* #SECTION2 .next button:hover{
    background-color:#E7faf9;
    color:black;
} */
#SECTION2 .next button:active{
    background-color:#E7faf9;
    border-color:#E7faf9;
    color:black;
}
/*======================== Section 3 : Awardees ========================*/
#SECTION3{
    background-color: #E7faf9;
    padding-top:80px;
}
#SECTION3 h{
    font-size:40px;
    font-weight:600;
    line-height: 40px;
}
#SECTION3 img{
    padding-top:20px;
    padding-bottom:20px;
}
#SECTION3 p{
    margin-top:-5px;
    font-size:24px;
    padding-bottom:80px;

}
